{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container border border-dark mb-5 w-50">
  <div class="row">
    <div class="offset-md-4">
    <h1>{% trans "Sign In" %}</h1>
  </div>
      
    <div class="col-md-8 mt-3 offset-md-2 text-start">
        <p>{% blocktrans %}Nice to see here again. That is true spirit of training, jump back and let's ROCK! If you
  have not created an account yet, then  <a class="link" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
      
  </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-3">
  <form class="login " method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
  
    <button class="btn btn-login mb-5 offset-md-2" type="submit">{% trans "Sign In" %}</button>
  </form>
    </div>
  </div>
</div>

{% endblock %}
