{% extends "base.html" %}
{% load crispy_forms_filters %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container border border-dark mb-5 w-50">
  <div class="row">
    <div class="offset-md-4">
    <h1>{% trans "Sign Up" %}</h1>
  </div>

  <div class="col-md-8 mt-3 offset-md-3 text-start">
    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">Sign in</a>.{% endblocktrans %}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-8 mt-3 offset-md-3">
<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  
  <button class="btn btn-login mb-5 offset-md-2" type="submit">{% trans "Sign Up" %}  &raquo;</button>

</form>
</div>
</div>
</div>
{% endblock %}
