{% extends "base.html" %}
{% load static %}
{% block head_title %}
Homepage
{% endblock %}
{% block content %}

<div class="container">
  <div class="row ">
    <div class="col ">
      <h2 class="text-dark    d-flex justify-content-center mb-4 ">
        Keep Yourself Fit
      </h2>
      <div class=" d-flex justify-content-center">
        <img src="{% static '../static/img/hero-1.jpg' %}" class="hero-1" alt="steel background">
      </div>
    </div>
    <div class="d-flex justify-content-around ">
      <p class="p-size-1 p-5">Nowadays training with additional weight become highly popular and no wonder. Such lifestyle
        gives you lots of addvantages as makes body stronger, improves heart health, greater mobility
        and flexibility. Apart of physical health such type of training change You as a person. People
        who train for more than three months become more self confident, disciplined and motivated for new
        achievements. If this is something you are looking to improve also then join our team of professionals
        and let's ROCK!</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="text-dark d-flex justify-content-center mb-4">
        Connect Mind And Body
      </h2>
      <div class=" d-flex justify-content-center">

        <img src="{% static '../static/img/hero-2.jpg' %}" class="hero-2" alt="Yoga position">
      </div>
    </div>
    <div class="d-flex justify-content-around">
      <p class="p-size-2 p-5  ">For those who prefer calmer way of training but definitely not easier, we offer Yoga.
        Especially now Yoga might
        be powerful as it helps to be more concentrated and get rid of stress at the same time and that is only small
        bonusses that Yoga offers. Yoga can ease arthritis, protect you from injury, increase cognitive ability and with
        big community where you can find a variety of people and potential friends it is so important. Sounds like for
        you? Check out what type of yoga our
        amazing team offers for you.</p>
    </div>
  </div>
  <div class="d-flex justify-content-center my-5 " id="b-h">
    <a class="btn btn-login  " href="{% url 'training' %}">
      Find Out More
    </a>
  </div>
</div>
{% endblock %}