{% extends "base.html" %}
{% load static %}
{% block head_title %}
    Homepage
{% endblock %}
{% block gym %}
<div>
    <h1 >
        Keep your body fit & strong
    </h1>
</div>
<div class=" justify-content-center">
    <img src="../../../static/img/gym-ho(1).jpg" class="size-gym " alt="Hands with dumbels">
</div>
<div class="container">
    <div class="row">
      <div class=" gym-col-pos ">
        <p class="text-center"> Nowadays training with additional weight become highly popular and no wonder. Such life style 
            gives you lots addvantages as makes body stronger, improves heart health, greate mobility
            and flexibility. Apart of phhysical health such type of training chanhe You as a person. People
             who train more than three month become more self comfident, disciplined and motivated for new 
             achievements. If this is something you are looking to improve also than join our team of proffesionals
             and let's ROCK!
        </p>
      </div>
    </div>
    <div class="btn-gym  "><a class="btn btn-login" href="#">Find Out More</a></div>
</div>

{% endblock %}
{% block yoga %}

    <div><h1>Everything about yoga here</h1></div>
{% endblock %}