{% extends "base.html" %}
{% load static %}
{% block head_title %}
Training
{% endblock %}
{% block content %}
<section class="">
    <h2 class="text-center my-3">Training</h2>
    <div class="container d-flex justify-content-center background-im position-relative mb-5">
        <div class="table-responsive w-75 h-75 position-absolute top-50 start-50 translate-middle">
            <table class="table table-bordered border-light mb-5 text-white">
                <thead>
                    <tr>
                        <th class="bg-dark"></th>
                        <th class="bg-danger">Monday</th>
                        <th class="bg-danger">Tuesday</th>
                        <th class="bg-danger">Wednesday</th>
                        <th class="bg-danger">Thursday</th>
                        <th class="bg-danger">Friday</th>
                        <th class="bg-danger">Saturday</th>
                        <th class="bg-danger">Sunday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">07:00-08:00</th>
                        <td>Pilates</td>
                        <td>Flexi-Stretch</td>
                        <td>Fit-Pump</td>
                        <td>Pilates</td>
                        <td>Cycling</td>
                        <td>Cycling</td>
                        <td class="bg-dark">Day Off</td>
                    </tr>
                    <tr>
                        <th scope="row">08:00-09:00</th>
                        <td>No Classes</td>
                        <td>Ashtanga Yoga</td>
                        <td>Pilates</td>
                        <td>Open Mat</td>
                        <td>Lifting</td>
                        <td>MaxFit</td>
                        <td class="bg-dark">Day Off</td>
                    </tr>
                    <tr>
                        <th scope="row">09:00-10:00</th>
                        <td>Crossfit</td>
                        <td>Hatha Yoga</td>
                        <td>Stand By</td>
                        <td>Pilates</td>
                        <td>Cycling</td>
                        <td>Flexi-Stretch</td>
                        <td class="bg-dark">Day Off</td>
                    </tr>
                    <tr>
                        <th scope="row">10:00-11:00</th>
                        <td>Lifting</td>
                        <td>Flexi-Stretch</td>
                        <td>Cycling</td>
                        <td>Ashtanga Yoga</td>
                        <td>Ashtanga Yoga</td>
                        <td>Crossfit</td>
                        <td class="bg-dark">Day Off</td>
                    </tr>
                    <tr class=" blank-row">
                        <th scope="row" colspan="8" class="text-white text-center bg-dark"> Break, Cleaning and
                            Desinfection, Trainers rotation</th>
                    </tr>
                    <tr>
                        <th scope="row">14:00-15:00</th>
                        <td>Hatha Yoga</td>
                        <td>Pilates</td>
                        <td>Cycling</td>
                        <td>Flexi-Stretch</td>
                        <td>Lifting</td>
                        <td>Hatha Yoga</td>
                        <td class="bg-dark">Day Off</td>
                    </tr>
                    <tr>
                        <th scope="row">15:00-16:00</th>
                        <td>Pilates</td>
                        <td>Fit Pump</td>
                        <td>Ashtanga Yoga</td>
                        <td>Hatha Yoga</td>
                        <td>Lifting</td>
                        <td>Flexi Stretch</td>
                        <td class="bg-dark">Day Off</td>
                    </tr>
                    <tr>
                        <th scope="row">16:00-17:00</th>
                        <td>Flexi Stretch</td>
                        <td>Lifting</td>
                        <td>Lifting</td>
                        <td>Hatha oga</td>
                        <td>Lifting</td>
                        <td>Stand By</td>
                        <td class="bg-dark">Day Off</td>
                    </tr>
                    <tr>
                        <th scope="row">17:00-18:00</th>
                        <td>Cycling</td>
                        <td>Fit Pump</td>
                        <td>Hatha Yoga</td>
                        <td>Flexi Stretch</td>
                        <td>Lifting</td>
                        <td>Stand By</td>
                        <td class="bg-dark">Day Off</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="position-absolute bottom-0 start-50 translate-middle-x mb-5 ">
            <a class="btn btn-login  " href="{% url 'booking' %}">
                Book Training
            </a>
        </div>
    </div>
</section>

{% endblock%}