@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Signika+Negative&display=swap');

body{
  overflow-x: hidden;
}

.navbar ul li a:hover {
	transform: scale(1.05);
	transition: transform 300ms ease-in-out;
}

/* GRADIENT FOR BETTER READIBILITY */
.background-logo{
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}

.decoration{
  text-decoration: none;
}

/* LOGO*/
.better {
  font-size: 4rem;
  padding-right: 4rem;
  color: #de6114;
}
.higher{
display: inline-block;
-webkit-transform: scale(1, 3);
-moz-transform: scale(1, 3);
-o-transform: scale(1, 3);
transform: scale(1, 3);
color: #de6114;
}
.further{
  margin-left: 15rem;
  font-style: italic;
color: #de6114;
}

.divider{
  font-size: 3rem;
}

/* NAVBAR */

.nav-link{
  color: #de6114;
  font-weight: 500;
}

/* BUTTONS */

.btn-login{
  width: fit-content;
  background-color: #de6114;
  font-size: 1.1rem;
  transition: background-color 0.1s ease-out, font-weight 0.1s ease-out;

}

.btn-login:hover{
  color: white;
  background-color: #d92409;
  font-weight: bolder;
  cursor: pointer;
}

.btn-gym{
  position: absolute;
  left: 40%;
  bottom: -1100%;
}

.form{
  width: 8rem;
}

/* HERO IMAGE */

.hero-1{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), transparent),
  linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent),
  url(../img/hero-1.jpg);
  width: 50%;
  height: 100vh;
  background-size:cover;
  background-repeat: no-repeat;
}

.hero-2{
  background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.85), transparent),
  linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent),
   url(../img/hero-2.jpg);
  width: 50%;
  background-size:cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.relative{
  position: relative;
}


.background-im{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), transparent),
  linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent),
   url(../img/back-train.jpg);
  height: 100vh;
  background-size:cover;
  background-repeat: no-repeat;
}

.img-responsive{
  max-width: 77%;
  height: 40%;
  margin-left: 3.5rem;
}
/* VISIBILITY OF THE TEXT ON TOP OF HERO IMAGE */

.overlay-right{
  position: absolute;
  top: 30%;
  left: 60%;
  color:#fff;
}

.overlay-left{
  position: absolute;
  top: 30%;
  right: 65%;
  color:#fff;
}


/* STYLING FOR GYM PART */



.size-photo-home-1{
  max-width: 600px;
  max-height: 300px;
  position: absolute;
  top: 176%;
  right: 5%;
}


.gym-col-pos{
position: absolute;
left:-20%;
bottom:-1000%;
}

.gym-col-pos p{
  width: 50rem;
}

.high{
  height: 299.33px;
  width: 100%;
}

/* STYLING FOR YOGA PART */

.size-photo-home-2{
  max-width: 600px;
  max-height: 300px;
  position: absolute;
  top: 176%;
  left: 10%;
}


/* FOOTER*/


footer{
  height: 24rem;
}

footer a{
  text-decoration: none;
}

.foo{
  background-color: rgba(0, 0, 0, 0.2);
}

.training{
  position: absolute;
  top: 176%;
  left: 10%;
}


.inp-wid{
  max-width: 100%;
}

.btn-form{
  position: absolute;
  left:10%
}
